.footer{
background-color: #0d2050;
height: 17vh;
color: white;
display: flex;
justify-content:space-around
}
.text{
    font-size: 0.7rem;
}
.services{
    display: flex;
    flex-direction: column;
}
.atag{
    padding: 0%;
}
.serv{
    margin-left:10%;
}
@media only screen and (max-width:420px) {

    .footer{
        margin-top: 22vh;
    }
  
  }
  